<div class="container bg-light">
 <div class="row mt-3">
  <div class="col-md-3 border">
    col-md-3
  </div>
  <div class="col-md-6">
    <div class="card text-center rounded-lg">
      <div class="card-header card-header-my">
        Create Post
      </div>
      <%= form_with(model: @post, local: true) do |f| %> 
        <%= f.text_area :content, placeholder: "What's on your mind, #{current_user.name}?", class: "px-3 py-2 border-0" %>
        <hr class="mb-0">
        <div>
          <span class="badge badge-pill badge-light py-2 px-3 my-2">Photo</span>
        </div>
        <hr class="my-0">
        <div class="p-2">
          <button type="submit" class="btn btn-block btn-my">Post</button>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-3 border">
    col-md-3
  </div>
 </div>
</div>